html{

}
body {
    background: url('../images/bg3.png') 0% 50% fixed #ddd;
    margin: 0;
    font-size: 18px;
    font-family: 'Titillium Web',"Ubuntu", "Dosis", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
    text-align: justify;
    font-weight: 500;
    background-size: contain;
    /* background: transparent; */
}

b {
    font-weight: 600;
}

.wrap {}

section {
    background: #fff;
    padding: 0px 50px 50px 50px;
    box-shadow: 0px 5px 31px #000;
}
section.pale {
    background:#d9ecf2;
    color:#002d40;
}

h1 {
    margin: 50px -50px 0;
    padding: 10px 0;
    background: #fdb500;
}

h1>.exNo {
    color: #000;
    padding: 12px;
    width: 35%;
}

h1>.exName {
    color: #000;
    padding: 1px;
    letter-spacing: 4px;
    font-weight: 700;
}

h3 {
    background: #b496d8;
    padding: 10px;
    margin: 70px -50px 30px -50px;
    color: #fff;
    text-align: center;
}
h4{
    background: #007cb8;
    display: table;
    padding: 13px 20px;
    color: #fff;
    border-radius: 10px;
}

p {
    font-size: 18px;
}

img {
    display: block;
    max-width: 100%;
}

.title .titleBox {
    padding: 10px 0 15px 0;
    /* border: 2px dashed #aaa;
    background-color: beige; */
    text-align: center;
}

.title .titleBox .labNo {
    font-size: 60px;
    color: #1aa6b7;
    padding: 20px;
    font-weight: 200;
    text-transform: uppercase;
}
.title .titleBox .labNo4 {
    font-size: 120px;
    color: #ffca0b;/*#002d40;*/
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 92px;
}

.title .titleBox .labName {
    font-size: 30px;
    color: #002d40;
    text-align: center;
    padding: 0px;
    background-color:#d9ecf2;
    margin: auto;
}

.title .labCateg {
    font-size: 30px;
    color: #444;
    text-align: center;
    width: 50%;
    margin: auto;
}

.whatToLearn {
    font-weight: bold;
}

.simpleList li {
    margin: 2px;
}

.top {
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #002d40;
    color: #fff;
    padding: 5px;
    transition: margin 0.3s ease;
}

.top:hover {
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}


/*----------------------------*/

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li a {
    display: block;
    background-color: #fdb500;
    padding: 10px 30px;
    margin: 2px 0;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}

.menu ul li a:hover {
    background-color: #d9ecf2;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 400;
    color: #002d40;
}
.menu ul li b{
        background: #d9ecf2;
        color: #002d40;
        margin-right: 10px;
        border-radius: 50%;
        width: 36px;
        display: inline-block;
        text-align: center;
}

/*----------------------------*/

ol {
    padding: 0;
    counter-reset: li;
    list-style-type: none;
    font-size: 18px;
}

ol>li {
    padding: 10px 10px 10px 50px;
    position: relative;
    transition: background 0.5s ease;
}

ol>li:hover {
    background-color: #d9ecf2;
}

ol>li>img {
    display: block;
    margin: 10px 0;
    max-width: 100%;
}

ol>li:before {
    content: counter(li);
    counter-increment: li;
    height: 30px;
    width: 30px;
    background-color: #1aa6b7;
    border-radius: 50%;
    color: rgb(245, 245, 245);
    text-align: center;
    position: absolute;
    left: 10px;
    top: 15px;
    line-height: 28px;
    font-weight: 400;
}

ol li li {
    list-style-type: square;
}


.question{

}

.question .choices{
}

.question .choices .choice{
    list-style: upper-alpha;
}
.question .choices .choice input{
    margin: auto 5px;
}

.answers{
    border: 1px solid;
    border-radius: 12px;
    overflow: hidden;
}
.answers table{
    width: 100%;
}
.answers table th{
    text-align: center;
    background-color: #ff414d;
}
.answers table td{
    text-align: center;
}
.alert{
    border: 0;
}
.alert-warning {
    padding: 20px;
    border-left: 5px solid #c4aa79;
    background-color: #ffde8f;
}
.alert-primary {
    padding: 20px;
    border-left: 5px solid #799ec4;
}
.alert-danger {
    color: #fff;
    background-color: #ff414d;
    padding: 20px;
    border-left: 5px solid #ba2f38;
}

.alert-danger h2, .alert-primary h2, .alert-warning h2
{
    display: inline;
    font-weight: 700;
    border-bottom: 5px solid;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.alert-success {
    color: #fff;
    background-color: #02814c;
    padding: 20px;
    border-left: 5px solid #035129;
}
.red{
    color:#ff414d;
}
.prpl {
    background: #dfccf1;
    color: #6c03cf;
    padding: 0 5px;
    display: table;
    font-family: 'Courier Prime';
}
.prpl-inline {
    background: #dfccf1;
    color: #6c03cf;
    padding: 0 5px;
    font-family: 'Courier Prime';
}

.testCase pre{
    font-family: 'Courier Prime';
    border: 3px solid #83a904;
    max-height: 500px;
    overflow: scroll;
    padding: 20px 0;
    background: #333;
    color: #83a904;
    text-shadow: 2px 2px 3px #222;
}
.testCase .inputSeq{
    font-family: monospace;
    border: 3px solid #824700;
    padding: 40px;
    background: #fff0c2;
    color: #824700;
    text-shadow: 2px 2px 3px #f7d183;
}
 .crarr{
    background: #824700;
    color: #fff0c2;
    text-shadow: 0 0 BLACK;
    border-radius: 4px;
    padding: 0px 3px;
}
dt {margin-top: 10px;}
dd {margin-left: 30px;}

.box-shadow{
    box-shadow: 0px 5px 31px #000;
}
strong{
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 1px;
    width: 400px;
    font-size: 20px;
    font-family: 'Titillium Web',"Ubuntu", "Dosis", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0.2em;
    font-weight: 500;
}

/* 1st table row, 1st table data */
tr:first-child {

    background-color: #7d3c99f5;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 25px;

}
tr:nth-child(even) { /*table row*/
    background-color: #efe7f1;

}